//- index.jade
extends ./layout.jade
block content
  div.jumbotron
   h1 欢迎来到Microblog
   p Microblog 是一个基于Node.js的微博系统
   p 
    a.btn.btn-primary.btn-large(href='/login') 登录
    a.btn.btn-large(href='/reg') 立即注册
  div.row
   div.col-md-4
    h2 Carbo说
    p 东风破早梅 向暖一支开 冰雪无人见 春从天上来
   div.col-md-4
    h2 BVoid说
    p Open
   div.col-md-4
    h2 佛振说
    p 中州的输入法引擎